.content
  %header STAY IN TOUCH
  .left
    .email 
      If you have any questions or proposals please contact
      %span info@euruko2014.org
    .subscribe
      Subscribe to our mailing list:
      %input{placeholder: "email address"}
      %p 
        %button.subscribe-btn Subscribe
  .right
    %a.rss{href:"#"}
      .img
    %a.facebook{href:"#"}
      .img
    %a.twitter{href:"#"}
      .img
  %footer
    .copyright © EuRuKo 2013 - All Rights Reversed
    .terms Code of Product | Terms of Use | Privacy Policy