.content
  %header GUIDE
  %ul.grid
    %li
      .title Hotel
      .all
        .item Hotel Kozatskiy
        .item The Hotel Dnipro
        .item Hotel Ukraine
        .item Hotel Kozatskiy
        .item The Hotel Dnipro
        .item Hotel Ukraine
    %li
      .title Phone Number 
      .all 
        .item +380 44 276 49 14
        .item +380 44 276 49 14
        .item +380 44 276 49 14
        .item +380 44 276 49 14
        .item +380 44 276 49 14
        .item +380 44 276 49 14
    %li
      .title Price
      .all
        .item 150 - 80 €
        .item 80 €
        .item 60 - 40 €
        .item 50 - 35 €
        .item 40 €
        .item 35 €
    %li.url
      .title URL
      .all
        .item http://kozatskiy.kiev.ua
        .item http://dniprohotel.ua
        .item http://ukraine-hotel.kiev.ua
        .item http://kozatskiy.kiev.ua
        .item http://dniprohotel.ua
        .item http://ukraine-hotel.kiev.ua
    %ul.grid
      %li
        .title Hotel
        .all
          .item Hotel Kozatskiy
          .item The Hotel Dnipro
          .item Hotel Ukraine
          .item Hotel Kozatskiy
          .item The Hotel Dnipro
          .item Hotel Ukraine
      %li
        .title Phone Number 
        .all 
          .item +380 44 276 49 14
          .item +380 44 276 49 14
          .item +380 44 276 49 14
          .item +380 44 276 49 14
          .item +380 44 276 49 14
          .item +380 44 276 49 14
      %li
        .title Price
        .all
          .item 60 €
          .item 50 €
          .item 40 €
          .item 35 €
          .item 30 €
          .item 55 €
      %li.url
        .title URL
        .all
          .item http://kozatskiy.kiev.ua
          .item http://dniprohotel.ua
          .item http://ukraine-hotel.kiev.ua
          .item http://kozatskiy.kiev.ua
          .item http://dniprohotel.ua
          .item http://ukraine-hotel.kiev.ua