.wrapper
  #small-logo
    .img
  #links
    %a.active{href: "#"}="Stream"
    %a{href: "#"}="About"
    %a{href: "#"}="Speakers"
    %a{href: "#"}="Tickets"
    %a{href: "#"}="Schedule"
    %a{href: "#"}="Party"
    %a{href: "#"}="Venue"
    %a{href: "#"}="Guide"
    %a{href: "#"}="Sponsors"
    %a{href: "#"}="Contacts"