.content
  %header PARTY
  .title EuRuKo partyhard in Kyiv!
  .description 
    EVERY YEAR EURUKO THROUGHS OUT BIG PARTY FOR ALL PARTICIPANTS.
    %p DO YOU WANT TO BE A PART OF IT?
  %button I WANT TO BE PARTY SPONSOR!