.content
  %header
    SCHEDULE
  .line
    .time 
    .day  Day 1 
    .day  Day 2
  .line
    .time 8:30
    .text DOORS OPEN 
    .text DOORS OPEN
  .line
    .time 9:00 - 9:45
    .text REGISTRATION &amp; WELCOME COFFEE
    .text
  .line
    .time 9:45 - 10:00
    .text WELCOME
    .text WELCOME
  .line
    .time 10:00 - 11:00
    .text 
      .title Keynote
      (Yukihiro Matsumoto)
    .text 
      .title Keynote
      (Yukihiro Matsumoto)
  .line
    .time 11:00 - 11:15
    .text COFFEE BREAK
    .text COFFEE BREAK
  .line
    .time 11:15 - 12:00
    .text 
      .title Functional Programming and Ruby
      (Konstantin Tennhard) 
    .text 
      .title Functional Programming and Ruby
      (Konstantin Tennhard)
  .line
    .time 12:45 - 14:00
    .text LUNCH BREAK
    .text LUNCH BREAK
  .line
    .time 14:00 - 15:00
    .text 
      .title I See Your 127.32+, A Tale of Rationals
      (Xavier Noria)
    .text 
      .title I See Your 127.32+, A Tale of Rationals
      (Xavier Noria)
  .line
    .time 15:00 - 15:45
    .text
      .title Functional Programming and Ruby
      (Pat Shaughnessy)
    .text
      .title Functional Programming and Ruby
      (Pat Shaughnessy)
  .line
    .time 15:45 - 16:00
    .text COFFEE BREAK
    .text COFFEE BREAK
  .line
    .time 16:00 - 16:45
    .text
      .title Keynote
      (Yukihiro Matsumoto)
    .text 
      .title Keynote
      (Yukihiro Matsumoto)
  .line.with-text
    .header
      .time 16:45 - 17:30
      .text
        .title I See Your 127.32+, A Tale of Rationals
        (Xavier Noria)
          
      .text
        .title I See Your 127.32+, A Tale of Rationals
        (Xavier Noria)
    .white
      .time
      .text There were fundamental features that no matter your precision, would just not work correctly. After reflecting on the feature set, we ended up resorting to fractions. In this talk I'll explain how we integrated rationals in the full stack, from JavaScript down to PostgreSQL, going via Active Record. An interesting journey that ends with all cents under control, and me sleeping very well at night.
      .text Money, be careful with money. While developing a brand new website for online betting I found the requirements related to the flow of money were just not possible to implement with traditional datatypes. There were fundamental features that no matter your precision, would just not work correctly. After reflecting on the feature set, we ended up resorting to fractions. In this talk I'll explain how we integrated rationals in the full stack, from JavaScript down to PostgreSQL, going via Active Record. An interesting journey that ends with all cents under control, and me sleeping very well at night.
  .line
    .time 17:30 - 18:00
    .text LIGHTNING TALKS
    .text LIGHTNING TALKS
  .line
    .time 18:00 - 18:30
    .text
    .text CLOSING &amp; VOTING