#party {
  background: image-url("kyiv.jpg");
  @include background-size(100% 100%);
  @include padding-trailer(6);
  @include padding-leader;

  .content {
    text-align: center;
    width: auto;

    .title {
      font-family: 'Nexa Bold', sans-serif;
      color: white;
      @include adjust-font-size-to($huge-font-size);
      @include margin-trailer;
      @include margin-leader;
    }

    .description {
      font-family: 'Nexa Bold', sans-serif;
      @include adjust-font-size-to($big-font-size);
      color: white;
      @include margin-trailer;
    }

    button {
      background-color: $sponsor-btn-color;
      border: none;
      outline: none;
      padding: 20px;
      @include border-radius(10px);
      @include adjust-font-size-to($big-font-size);
      color: white;

      &:hover {
        background-color: $tide;
      }
      &:active {
        @include box-shadow(darken($tide, 10%) 0 5px 5px 1px inset);
      }
    }
  }
}
