#speakers {
  background-color: $salmon;

  .speaker {
    @include margin-trailer(2);
    @include pie-clearfix;

    .photo {
      @include column(3);
      padding-left: 30px;
      @include margin-leader(2);
      .img {
        background: image-url("matz.png") no-repeat;
        width: 144px;
        height: 144px;
        @include border-radius(75px);
      }
    }

    .description {
      @include column(9);
      font-family: "Casper", sans-serif;

      .name {
        color: darken($text-color, 10%);
        @include adjust-font-size-to($name-font-size,1);
      }

      .position {
        color:white;
        @include adjust-font-size-to($name-font-size,2);
      }

      .text {
        color: $text-color;
        @include adjust-font-size-to($text-font-size);
      }

      .social_network {
        padding-right: 15px;
        @include inline-block;
        .nickname {
          color: white;
          @include adjust-font-size-to($name-font-size);
          @include inline-block;
        }

        .bird {
          background: image-url("twitter.png") no-repeat;
          height: 20px;
          width: 20px;
          @include inline-block;
        }

       .octocat {
          background: image-url("octocat.png") no-repeat;
          height: 20px;
          width: 22px;
          @include inline-block;
        }
      }
    }
  }
}