#venue {
  background-color: $dark-blue;

  .text {
    background-color: $coral;
    padding: 30px;
    @include column(7);
    @include adjust-font-size-to($name-font-size,1);
    font-family: 'Casper',sans-serif;
    color: $dark-blue;
    height: 304px;
    p {
      @include margin-trailer(1);
    }
  }

  .map {
    @include column(5);
    background-image: image-url("map.jpg");
    height: 304px;
  }
}