@import "compass";
@import "foundation-grid";
@import "fonts";

$base-font-size: 14px;
$base-line-height: 20px;
$big-font-size: 30px;
$large-font-size: 40px;
$tiny-font-size: 12px;
$text-font-size: 16px;
$name-font-size: 18px;
$schedule-font-size: 20px;
$medium-font-size: 25px;
$huge-font-size: 57px;
$orange: #e9724d;
$salmon: #f17c71;
$text-color: #626262;
$pale: #ebebeb;
$green: #bbeade;
$dark-blue: #353949;
$coral: #fba466;
$transparent-white: #f4f4f4;
$blue: #80bddb;
$tide: #31ac97;
$guide-color: #b06479;
$pink: rgb(255,149,153);
$yellow: rgb(255,228,163);
$hover-color: #abaaa5;
$gray: #474747;
$sponsor-btn-color: rgba(168,162,129,0.5);
$turquoise: #77c9be;
$btn-green: rgb(163,210,156);

@include global-reset;
@include establish-baseline;

@import "layout";
@import "modules/main_page";
@import "modules/nav";
@import "modules/speakers";
@import "modules/schedule";
@import "modules/party";
@import "modules/venue";
@import "modules/livestream";
@import "modules/about";
@import "modules/tickets";
@import "modules/guide";
@import "modules/sponsors";
@import "modules/contacts";