@import "compass";
@import "foundation-grid";
@import "fonts";

$base-font-size: 14px;
$base-line-height: 20px;
$big-font-size: 30px;
$large-font-size: 40px;
$tiny-font-size: 12px;
$text-font-size: 16px;
$name-font-size: 18px;
$schedule-font-size: 20px;
$medium-font-size: 25px;
$huge-font-size: 57px;
$orange: #e9724d;
$salmon: #f17c71;
$text-color: #626262;
$pale: #ebebeb;
$green: #bbeade;
$dark-blue: #353949;
$coral: #fba466;
$light-white: #f4f4f4;

@include global-reset;
@include establish-baseline;

@import "layout";
@import "modules/main_page";
@import "modules/nav";
@import "modules/speakers";
@import "modules/schedule";
@import "modules/party";
@import "modules/venue";